@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

/* padding 0 elements */

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
label,
li,
span {
    padding: 0;
    margin: 0;
}
